# Added for C Language
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Added for Eclipse - Hab may need to edit later
#Ignore the Debug Folder and everything in it
Firmware/TestProject1/Debug/*
.metadata
.settings/

#Ignore these specific file types
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.axf
*.lnp
*.lst
*.ini
*.hex

#Added for Schematic & PCB (Altium / CircuitStudio
History/*
Hardware/History/*
Hardware/SCH/__Previews/*
*.SchDocPreview

